

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 
font-style: normal;
}



.banner{
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
    align-items: center;
    padding: 26px 221px 44px 221px;
    
}

.banner-content{
    text-align: center;
}

.banner-paragraph{
    color: rgb(13, 19, 33);
font-family: ;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
/* opacity: 0.7; */

    
}

.btn-div-1{
   border:8px 8px;
   
   
   
}
.btn-1{
   color: white;
   
   padding: 21px 24px;
   border-radius: 8px;

   background: rgb(13, 19, 33);
   border: none;
   font-size: larger;
   } 

.main-div{
       background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin: 74px 152px 0 148px;
    border-radius: 16px;
}

.main-div-2{
    padding: 80px 97px;
    margin: 74px 152px 0 148px;
    border-radius: 16px;
}

.main-tag-div{
    margin-bottom: 100px;
}

h1{
    color: rgb(13, 19, 33);
font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.opc{
    color: rgba(13, 19, 33, 0.7);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
p{
    color: rgb(13, 19, 33);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;

opacity: 0.7;


}
.paragraph-2{
    text-align: center;
}

.sub-div{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 48px 48px;
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.sub-div-2{
    display: flex;
    justify-content: space-between;
    padding: 48px 48px;
    border-radius: 16px;
    
    margin-top: 32px;

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.lower-sub-div{
  padding: 0 100px 0 0;
  
}
.additional-1{
    margin-top: 32px;
}


.btn-2{
     box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    
padding: 10px 20px;

font-family: sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.vdeio-div{
    padding: 32px 32px;
    
}

video{
    border-radius: 16px;
    text-align: center;
}

.section-2{
    padding: 80px 97px;
    margin: 74px 152px 0 148px;
    border-radius: 16px;
    margin-top: 50px;
}

.skill-container{
    display: flex;
    gap: 24px;
}


.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(133, 130, 130);
    border-radius: 5px;
}

.skill-add-1{
    border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}

.skill-add-2{
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.skill-add-3{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}

.paragraph-2{
    margin-bottom: 48px;
}
.section-2-h1{
      margin-bottom: 24px;
}

a{
    color: rgb(13, 19, 33);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}


.section-3{
    padding: 64px 48px;
    
}


.section-3-div{
 
    background-image:  url(../assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    
    background-repeat: no-repeat;
    
    
    
    
   
  }

  .section-3-div-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-3-span{
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
  }

.section-3-p{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px;

}

input{
    width: 548px;
height: 57px;
border: none;
border-radius: 8px;
text-decoration: rgb(163, 165, 167);
}

.btn-submit{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    border: none;
    font-size: larger;
    
    
    
}




.footer-nav{
    padding: 32px 150px 32px 150px;
   display: flex;
   justify-content: space-between;
    border-radius: 10px;

background: rgba(13, 19, 33, 0.03);
margin-top: 79px;
}

.icon{
    margin-top: 15px;
    display: flex;
    
    
   
}

.footer-div-1{
    margin-right: 24px;
}

.footer-div-2{
         margin-right: 24px;
}
